name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CLUSTER_NAME: quick-serve-api3
  AWS_REGION: us-east-1
  NODEGROUP_NAME: quick-serve-api3-groups

jobs:
  create-cluster:
    runs-on: ubuntu-latest

    steps:
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v3
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{env.AWS_REGION}}
        aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}

    - name: Check if EKS Cluster Exists
      id: check-cluster
      run: |
        if aws eks describe-cluster --name $CLUSTER_NAME --region $AWS_REGION > /dev/null 2>&1; then
          echo "Cluster exists."
          echo "cluster_exists=true" >> $GITHUB_ENV
        else
          echo "Cluster does not exist."
          echo "cluster_exists=false" >> $GITHUB_ENV
        fi

    - name: Create EKS Cluster
      if: env.cluster_exists == 'false'
      run: |
        aws eks create-cluster \
          --name $CLUSTER_NAME \
          --role-arn arn:aws:iam::133489939751:role/LabRole \
          --resources-vpc-config subnetIds=subnet-0ccd3fe783de143a2,subnet-0fa695d42ad8afd9d,securityGroupIds=sg-0e67dd9b20c5af14c,endpointPublicAccess=true,endpointPrivateAccess=true,publicAccessCidrs="0.0.0.0/0" \
          --kubernetes-version 1.29 \
          --logging '{"clusterLogging":[{"types":["api","audit","authenticator","controllerManager","scheduler"],"enabled":false}]}'

    - name: Wait for EKS Cluster to be Active
      if: env.cluster_exists == 'false'
      run: |
        aws eks wait cluster-active --name $CLUSTER_NAME --region $AWS_REGION

    - name: Check if EKS Node Group Exists
      id: check-nodegroup
      run: |
        if aws eks describe-nodegroup --cluster-name $CLUSTER_NAME --nodegroup-name $NODEGROUP_NAME > /dev/null 2>&1; then
          echo "Node Group exists."
          echo "nodegroup_exists=true" >> $GITHUB_ENV
        else
          echo "Node Group does not exist."
          echo "nodegroup_exists=false" >> $GITHUB_ENV
        fi

    - name: Create EKS Node Group
      if: env.nodegroup_exists == 'false'
      run: |
        aws eks create-nodegroup \
          --cluster-name $CLUSTER_NAME \
          --nodegroup-name $NODEGROUP_NAME \
          --subnets subnet-0fa695d42ad8afd9d subnet-0ccd3fe783de143a2 \
          --node-role arn:aws:iam::133489939751:role/LabRole \
          --scaling-config minSize=1,maxSize=5,desiredSize=2 \
          --instance-types t3.medium \
          --ami-type AL2_x86_64 \
          --disk-size 20 \
          --capacity-type ON_DEMAND \
          --update-config maxUnavailable=1

    - name: Wait for EKS Node Group to be Active
      if: env.nodegroup_exists == 'false'
      run: |
        aws eks wait nodegroup-active --cluster-name $CLUSTER_NAME --nodegroup-name quick-serve-api-groups --region $AWS_REGION

  build-and-deploy:
    runs-on: ubuntu-latest
    needs: create-cluster  

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: mvn package

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Build and run Docker containers
      run: |
        docker compose -f docker-compose.yml up -d --build

    - name: Push Docker image to Docker Hub
      run: |
        echo "Listing Docker images:"
        docker image ls 
        docker tag fiap-7soat-51/quick-serve-api:0.1 ${{ secrets.DOCKER_HUB_USERNAME }}/quick-serve-api:1
        docker push ${{ secrets.DOCKER_HUB_USERNAME }}/quick-serve-api:1

    - name: Install kubectl
      uses: azure/setup-kubectl@v2.0
      with:
        version: 'v1.30.2' 
      id: install

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v3
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{env.AWS_REGION}}
        aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}

    - name: Update kube config
      run: aws eks update-kubeconfig --name $CLUSTER_NAME --region $AWS_REGION

    - name: Apply Kubernetes configuration
      run: |
        kubectl apply -f pods/configmap-quick-serve-api.yaml
        kubectl apply -f pods/secret-quick-serve-api.yaml
        kubectl apply -f pods/quick-serve-api.yaml
        kubectl apply -f pods/svc-quick-serve-api.yaml

    - name: Verify Deployment
      run: |
        kubectl get pods,svc,configmaps,secrets,deployments,pv,pvc,hpa
